In [1]:
import yfinance as yf
import streamlit as st 
import pandas as pd
#jupyter nbconvert –to script JupyterNotebookName.ipynb
#awk ‘!/ipython/’ myapp.py > temp.py && mv temp.py app.py && rm myapp.py
#streamlit run app.py

In [3]:
st.write("""
# Simple Stock Price App
Shows the stock closing price and volume of Google""")
#define the ticker symbol         
tickerSymbol = 'GOOGL'
#get historical data of Google stock price 
tickerData = yf.Ticker(tickerSymbol)
# create a DataFrame
tickerDf = tickerData.history(period ='id', start ='2010-5-31', end ='2021-5-31')
#st.line_chart(tickerDf.Close)
#st.line_chart(tickerDf.Volume)

2021-09-22 18:34:29.858
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Agnes\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2021-09-22 18:34:30.234 Note: NumExpr detected 16 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2021-09-22 18:34:30.234 NumExpr defaulting to 8 threads.

In [5]:
tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-01,240.455460,245.775772,240.300293,241.426422,5328266,0,0.0
2010-06-02,243.583588,247.182175,240.970978,246.931931,5076518,0,0.0
2010-06-03,247.802795,254.254257,247.597595,253.053055,7294099,0,0.0
2010-06-04,250.110107,254.879883,248.598602,249.609604,7832759,0,0.0
2010-06-07,249.779785,250.705704,241.816818,243.003006,7258135,0,0.0
...,...,...,...,...,...,...,...
2021-05-24,2314.889893,2365.550049,2311.959961,2361.040039,1591600,0,0.0
2021-05-25,2372.000000,2384.000000,2355.000000,2362.870117,1122000,0,0.0
2021-05-26,2366.520020,2388.989990,2366.459961,2380.310059,1078600,0,0.0
2021-05-27,2389.050049,2389.050049,2356.260010,2362.679932,1761200,0,0.0
2021-05-28,2374.419922,2376.070068,2352.850098,2356.850098,1074100,0,0.0